[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
beautifulsoup4 = "==4.9.0"
requests = "==2.23.0"
urllib3 = "==1.25.8"
pytesseract = "*"
Pillow = "*"

[requires]
python_version = "3.7"
